body{
    margin: 0;
    background-color: rgba(78, 68, 214);
    background-image: url(kepek/blue-paint-can.jpg);
    background-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Arial Narrow Bold', sans-serif;
    min-height: 130vh;
}
::-webkit-scrollbar{
    background: transparent;
    min-width: 14px;
    max-width: 20px;
}

::-webkit-scrollbar-thumb{
    background:rgb(165, 160, 231);
    border-radius: 5px;
    border: none;
}

::-webkit-scrollbar-thumb:hover{
    background:rgb(169, 164, 231);
    border: white 1px solid;
}

header{
    display: block;
    background-color: rgba(78, 68, 214, 0.9);
    width: 100%;
    margin: 0px;
    border-bottom: black 2px solid;
    padding: 1% 0 1% 0;
    
    
}

header h2{
    color: white;
text-align: left;
font-size: 45px;
margin-left: 2%;
text-shadow: black 5px 5px 10px;
}

header img{
    float: right;
    width: 130px;
    margin-right: 10%;

    
}

.nav{
    background-color: rgb(116, 114, 114, 0.8);
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
    padding:0;
    border-bottom: black 1px solid;
}

.nav td{
    border: none;
    padding: 10px;
    margin: 0;
    background-color: rgb(29, 28, 28,0.5);
    
}
td a:any-link{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding-block: 15px;
}

.nav td:hover{
    background-color: rgb(165, 160, 231);
}

.nav .active{
    background-color:rgb(128, 120, 243) ;
}


article{
    width: 50%;
    margin: 5% auto 2% 4%;
    max-width: 48%;
    background-color: rgba(88, 86, 116, 0.6);
    border-radius: 20px;
    color:rgb(225, 224, 250);
    padding: 20px;
    
}
article h1{
    text-shadow: black 3px 3px 2px;
    font-size:40px;
}
article p{
    text-shadow: black 3px 3px 2px;
    font-size:20px;
}

form{
    margin:5% auto 5% 6%;
    padding-top: 20px;
    padding-bottom:40px;
    padding-left: 100px;
    padding-right: 0;
    background-color: rgba(207, 207, 207, 0.7);
    max-width: 40%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}
form label{
    padding-left: 15px;
}
form input{
    background-color: rgb(151, 146, 212);
}

footer{
    color:white;
    background-color: rgba(88, 86, 116, 0.8);
    margin: 0;
    min-height: 85px;
    margin-top: auto;
    text-align: center;
}

.map{
    margin: 10% 0 10% 4%;
    box-shadow: 5px 5px 20px black;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 500px;
}

